.footer {
    
    width: 100%;
    height: 40px;
    background:#F6F7F7;
    font-family: "roboto", sans-serif;
    letter-spacing: 1px; 
    margin-top:30rem;
  }
  
.footer h4 {
    padding-top:12px;
    margin-left: 87.8rem;
    margin-right: 40px;
    color:#4B5C68;
  
}  
   
