.header {
    width: 100%;
    height: 60px;
    background:#025FEB; 
    display:flex;
    justify-content: space-between;  
   
}
  
 .left { 
    display:flex;
    color:#FFFFFF;
 }

 .lefttext{
    margin-top:10px;
    margin-left:6px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    width:5rem;
    margin-right:0%;
 }
 .logoimg{
    height:40px;
    margin-top:9px;
    margin-left:40px;  
 }

.link
    { 
      margin-left:0px;
      margin-top:18px;
      display:flex; 
      flex-direction:row;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

.first{
      margin-left:0px;
      margin-right:40px;  
}

.schimg{
      
      height:25px;
      width:25px;      
}

.leadimg{
      margin-left:4px;
      height:25px;
      width:25px;    
    
   }

.nav-link{
  text-decoration: none;
  color:#FFFFFF;
  display:flex; 
  flex-direction:row;
  font-size:16px;
 }

.logotext{
  margin-top:0px;
  margin-left:4px;
}

.topright{
  margin-top:0px;
  margin-left:4px;
  
}
  
.second{
   margin-right:40px;
}
   