.midd{
  margin-top:60px;
  margin-bottom:20px;
  display:flex; 
  color:#182C62;
  align-items: center;
  justify-content: center;
}

.data{
   
    margin-left:40px;
    margin-right:40px;
    background-color:#E4EDF2;
    border-color:#E4EDF2;
    height:40px;
    width:95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content:space-between;
}

.leftt{
    margin-top:7px;
    display:flex;
    margin-left:1rem;
    justify-content: space-between;
    width:20%;
}

.right{
    margin-top:7px;
    display:flex;
    justify-content:space-between;
    margin-right:22rem;
    width:24%;
}

.teamflag{
    margin-top:16px;
    display:flex; 
    flex-direction:row;
    font-size:16px;
   
}

.home{   
    margin-bottom:16px;
    margin-left:49rem;
    
}

.away{

   margin-bottom:16px;
   margin-left:10rem;
}